body {
  margin-top: 50px;
  background-color: #f8f8f8;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;  
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
a {
  color: #3d884d;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #25532f;
}
a:focus {
  text-decoration: none;
}
p {
  line-height: 1.5;
}

.container {
	max-width:750px;
}

.navbar-default {
  background-color: #f8f8f8;
	border-color: #f8f8f8;
}

.page {
	background-color: white;
}

.section {
	padding:50px;
	padding-bottom:0px;
}

.fa {
	margin-right:10px;
	margin-top: 10px;
}

.card-contact {
	width:50%;
	min-width:250px;
	margin:0 auto;
}

.contact-link {
	color: white;
	text-decoration: none;
}

.card-contact-wrapper {
	background-color:#5BB66F;
	padding:20px;
	color:white;
}

.no-bullets {
	list-style:none;
}

.card-header {
	color:white;
	text-align:center;
	background-color:#489158;
	padding:50px 30px 20px 30px;
}

.name {

}

.tagline {
	color: rgba(255, 255, 255, 0.6);
	font-size: 20px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 10px;
}

.edu-image {
}

.section-item {
	padding-bottom: 15px;
}

.project-demo {
	margin-top: 20px;
	height:200px;
}

.section-name {
	padding-bottom:10px;
}
